@import "../App";


.body {
  padding: 40px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bodyWrapper {
  display: flex;
}

.text {
  margin-right: 200px;
  max-width: 40vw;
}

.rules {
  max-width: 600px;
}

.headlineB {
  color: $indigo;
  font-family: $merriweather;
  font-weight: 700;
  font-size: 24px;
  margin: 0
}

.merriweatherLink {
  font-family: $merriweather;
  transition: color .1s ease-in-out;
  &:hover {
    color: $text;
  }
}

.headline {
  font-family: $merriweather;
  font-weight: 700;
  color: $text;
  letter-spacing: 0em;
  font-size: 36px;
  margin-bottom: 0px;
  margin-top: 40px;
}

.table {
  text-align: center;
  column-gap: 10px;
  border-spacing: 0 2px;
  th {
    background-color: $background2;
    border-right: 2px solid $background;
    padding: 3px 20px;
    &:not(:last-child) {
      margin-right: 2px;
    }
  }
  td {
    padding: 0 10px;
    &:not(:last-child) {
      border-right: 2px solid $background2;
    }
  }
}

.sidebar {
  >div {
    margin-bottom: 50px;
  }
}