@import "../App";

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.textbox {
  display: block;
  margin-bottom: 20px;
  background-color: transparent;
  border: 1px solid $desert;
  padding: 5px 10px;
  width: 200px;
  border-radius: 4px;
  font-size: 16px;
}

.code {
  margin-top: 20px;
  display: block;
  font-family: monospace;
  background-color: $background2;
  padding: 20px;
}