@import "../App";


.buttonHome {
  border: none;
  background-color: $background;
  border-radius: 7px;
  font-size: 20px;
  padding: 15px 40px;
  font-weight: 600;
  color: $desert;

  cursor: pointer;
  transition: background-color .1s ease-in-out;
  &:hover {
    background-color: $background2;
  }
}