.header {
  width: calc(100% - 2*60);
  padding: 40px 100px;
  display: flex;
  align-items: center;
  justify-content: center;

  > button {
    &:first-child {
      margin-left: 0;
      margin-right: auto;
    }
    &:last-child {
      margin-left: auto;
      margin-right: 0;
    }
  }
}